// Typography Scale
$h1-font-size: 46px;
$h1-line-height: 1.3;

$h2-font-size: 32px;
$h2-line-height: 1.3;

$h3-font-size: 28px;
$h3-line-height: 1.5;

$h4-font-size: 24px;
$h4-line-height: 1.3;

$h5-font-size: 20px;
$h5-line-height: 1.3;

$h6-font-size: 16px;
$h6-line-height: 1.5;

$display-1-font-size: 60px;
$display-1-line-height: 1.2;

$display-2-font-size: 100px;
$display-2-line-height: 1.2;

$display-3-font-size: 56px;
$display-3-line-height: 1.3;

$display-4-font-size: 48px;
$display-4-line-height: 1.3;

$lead-font-size: 20px;
$lead-line-height: 1.5;

$large-font-size: 18px;
$large-line-height: 1.5;

$base-font-size: 16px;
$base-line-height: 1.6;

$small-font-size: 14px;
$small-line-height: 1.5;

$extrasmall-font-size: 12px;
$extrasmall-line-height: 1.5;

$extraextrasmall-font-size: 10px;
$extraextrasmall-line-height: 1.5;

// Colors (gray scale)
$gray-100: #f9f9f9;
$gray-200: #f4f5f7;
$gray-300: #e5e8ed;
$gray-400: #d7dadd;
$gray-500: #b3b7bc;
$gray-600: #9a9ca5;
$gray-700: #787a80;
$gray-800: #424551;
$gray-900: #1e212c;

//Other colors
$white: #fff;
$accent-black-bg: #e11153;
$accent-2: #d001a4;
$primary: #17696a;
$success: #03cea4;
$danger: #ff4242;
$warning: #f89828;
$info: #5a87fc;
$primary-2: #00f0b5;
$primary-3: #29e7cd;
$prim: #259e89;
