.cardWrap {
  position: relative;
  height: 413px;
  width: 285px;
}

img {
  width: 100%;
}

.stars {
  position: absolute;
  top: 16px;
  right: 16px;
  margin: 0;
}

.heart {
  position: absolute;
  bottom: 110px;
  right: 16px;
  margin: 0;
  cursor: pointer;
  width: 32px;
  height: 32px;
  border-radius: 50%;
  border-color: transparent;
  background: white;
  display: flex;
  justify-content: center;
  align-items: center;

  img {
    width: 16px;
    height: 16px;
  }
}
