@use '/src/styles/variables.scss' as *;

.cardWrap {
  position: relative;
  height: 413px;
  width: 100%;
  display: block;
}

img {
  width: 100%;
  border-radius: 4px;
}

.title {
  font-size: $large-font-size;
  font-weight: 400px;
  color: $gray-800;
  margin: 16px 0 8px;
}

.price {
  font-size: $h4-font-size;
  font-weight: 700px;
  color: $gray-900;
  margin-top: 0;
}

.stars {
  position: absolute;
  top: 16px;
  right: 16px;
  margin: 0;
}

.heart {
  position: absolute;
  bottom: 110px;
  right: 16px;
  margin: 0;
  cursor: pointer;
  width: 32px;
  height: 32px;
  border-radius: 50%;
  border-color: transparent;
  background: white;
  display: flex;
  justify-content: center;
  align-items: center;

  img {
    width: 16px;
    height: 16px;
  }
}
